@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    background-color: rgb(255, 255, 255);    
}
/* Add style to logo */
#logo {
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 200%;
    text-align: center;
    color: green;
}

/* Add style to navigation */
.nav {
    font-size: 110%;
    letter-spacing: 4px;
}

.nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    line-height: 135px;
}

/* Style the links inside the navigation bar */
.nav-right a {
  float: left;
  color: green;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav-right a:hover {
  background-color: #ddd;
  color: black;
  overflow: hidden;
}

/* Add a color to the active/current link */
.nav-right a.active {
  background-color: #04AA6D;
  color: white;
  overflow: hidden;
}

/* Add color and style to text */  
  h1 {
    margin: auto;
    padding-top: 45px;
    text-decoration: solid;
    color: rgba(255, 255, 255, 0.918);
    max-inline-size: 7.5cm;
    text-align: center;
    text-transform: uppercase;
  }

/* Add color to text and style it */  
.welcome {
  margin: auto;
  padding: 45px 45px;
  text-decoration: solid;
  color: rgba(241, 102, 10, 0.918);
  max-inline-size: 10cm;
  text-align: center;
  text-transform: uppercase;

}

/* Add a background with style and positioning*/  
#background1 {
  background: rgba(0, 0, 0, .65) url('../images/background1.jpg') no-repeat center center;
  background-blend-mode: darken;
  height: 335px;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 1.0;      
}

/* Add hover effect to background */
#background1:hover {
  opacity: 0.95; 
}
/* Add style to all the text below */
.healthy-food {
  margin: auto;
  padding: 45px 45px;
  text-decoration: solid;
  max-inline-size: 10cm;
  color: green;
  text-align: center;
  text-transform: uppercase;

}

.healthy-food-two {
  margin: auto;
  padding-bottom: 50px;
  text-decoration: solid;
  color: rgba(241, 102, 10, 0.918);
  max-inline-size: 10cm;
  text-align: center;
  text-transform: uppercase;

}

.raw-material {
  margin: auto;
  padding-top: 50px;
  text-decoration: solid;
  max-inline-size: 10cm;
  color: rgba(255, 255, 255, 0.918);
  text-align: center;
  text-transform: uppercase;

}

.raw-material-two {
  margin: auto;
  padding: 45px 45px;
  text-decoration: solid;
  color: rgba(241, 102, 10, 0.918);
  max-inline-size: 10cm;
  text-align: center;
  text-transform: uppercase;

}

/* Add a second background with style and positioning */  
#background2 {
    background: rgba(0, 0, 0, .65) url('../images/background2.jpg') no-repeat center center;
    background-blend-mode: darken;
    height: 335px;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 1.0;     

}

/* Add hover effect to background */
#background2:hover {
    opacity: 0.95; 

}
/* Add style to all the text below */
.delivery {
    margin: auto;
    padding-top: 25px;
    text-decoration: solid;
    max-inline-size: 10cm;
    color:rgba(241, 102, 10, 0.918);
    text-align: center;
    text-transform: uppercase;

}

.delivery-two {
  margin: auto;
  padding: 45px 45px;
  text-decoration: solid;
  color: rgba(241, 102, 10, 0.918);
  max-inline-size: 10cm;
  text-align: center;
  text-transform: uppercase;

}

.groovy-chicken {
    margin: auto;
    padding-top: 25px;
    text-decoration: solid;
    color: rgba(241, 102, 10, 0.918);
    max-inline-size: 10cm;
    text-align: center;
    text-transform: uppercase;

}

.groovy-chicken-two {
  margin: auto;
  padding: 45px 45px;
  text-decoration: solid;
  color: rgba(241, 102, 10, 0.918);
  max-inline-size: 10cm;
  text-align: center;
  text-transform: uppercase;

}


footer {
    height: 100px;

}

/* Add style to social links and icons */
.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 200%;
    margin-top: 50px;
    padding: 2%;
    color: rgba(241, 102, 10, 0.918);
}

footer > p {
    text-align: center;
    color: green;
}

