@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Lato', 'Roboto Condensed', 'Oswald', sans-serif;
    font-weight: 200;
    color: #3a3a3a; 
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: antiquewhite;
}
#menu, #logo {
    line-height: 75px;
}

#home {
    background:url(../images/background1.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    font: 40px;
    color: orange;

}

#about {
    color:aqua

}

#delivery {
    color:brown

}

#contact {
    color: orange

}